*{
    padding: 0;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: "Source Serif Pro', serif";
}

.container{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 200px auto;
    grid-template-rows: 60px 40px auto auto 20px;
    grid-template-areas: "h m" "p p" "l l" "c c" "f f";
}

.container_2{
    display: grid;
    width: 100%;
    margin: auto;
    grid-template-columns: 200px auto;
    grid-template-rows: 60px 40px auto 20px;
    grid-template-areas: "h m" "p p" "c c" "f f";
}

header{
    grid-area: h;
    background-color: aquamarine;
}

.header_tab{
    height: 100%;
    width: 100%;
    display: table;
    float: left;
}

.header_tab h1{
    color: midnightblue;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: "Source Serif Pro', serif";
    font-size: 44px;
    font-weight: 1000;
    text-align: center;
}

span{
    font-weight: 500;
    font-style: italic;
}

menu{
    grid-area: m;
    justify-self: end;
    align-self: center;
}

#menu{
    display: block;
    z-index: 1;
}

#menu input{
    display: block;
    width: 40px;
    height: 32px;
    position: absolute;
    top: 10px;
    right: 0px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}

#menu .hamberger{
    display: block;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;
    position: relative;  
    background: rgb(255, 41, 41);
    z-index: 1;
    transform-origin: 4px 0px;  
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;
}

#menu .hamberger:first-child{
    transform-origin: 0% 0%;
}

#menu .hamberger:nth-last-child(2){
    transform-origin: 0% 100%;
}

#menu input:checked ~ .hamberger{
    opacity: 1;
    transform: rotate(45deg) translate(-2px, -1px);
    background: rgb(255, 41, 41);
}

#menu input:checked ~ .menu{
    background-color: rgb(160, 7, 7);
    z-index: 0;
}

#menu input:checked ~ .hamberger:nth-last-child(3){
    opacity: 0;
    transform: rotate(0deg) scale(0.2, 0.2);
}

#menu input:checked ~ .hamberger:nth-last-child(2){
    transform: rotate(-45deg) translate(0, -1px);
}

#menu input:checked ~ ul{
    transform: none;
}

.menu{
    z-index: -1;
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 20px;
    background-color: white;
    opacity: 95%;
    transform-origin: 0% 0%;
    transform: translate(100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu a{
    color: white !important;
    padding-left: 10px;
    padding-bottom: 15px;
}

.sub_menu a{
    color: pink !important;
    padding: 15px;
    padding-right: 0;
}

.sub_menu li{
    padding: 15px;
}

page{
    grid-area: p;
    color: white;
    background-color: rgb(240, 143, 78);
    padding: 5px;
    font-family: "Source Serif Pro', serif";
    font-size: 28px;
    font-weight: 1000;
    text-align: center;
}

.page .space{
    display: none;
}

list{
    grid-area: l;
    background-color: rgb(252, 255, 65);align-self: flex-start;
}

.list_inner{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    justify-items: center;
    align-items: center;
}

.list_inner div{
    width: 100px;
}

.list_inner div img{
    max-width: 100%;
    margin-bottom: -4px;
}

.list_inner div .weather{
    max-width: 100%;
    text-align: center;
    color: white;
    background-color: rgb(253, 31, 205);
}

content{
    grid-area: c;
    background-color: rgb(35, 152, 248);
}

.content_inner{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto auto;
    margin: 15px;
    font-family: "Source Serif Pro', serif";
    font-size: 15px;
}

.content_inner div:first-child{
    font-size: 25px;
    margin-bottom: 10px;
}

.content_inner .content_img{
    max-width: 95%;
    justify-self: center;
}

.comparison{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: auto;
    justify-items: center;
    justify-items: center;
}

.comparison div{
    width: 75%;
}

.comparison div img{
    max-width: 100%;
    border: 5px solid rgb(253, 31, 205);
}

footer{
    grid-column: f;
    justify-self: center;
    align-self: auto;
    font-size: 13px;
}

body {
    overflow-x: hidden; /* Hide horizontal scrollbar */
  }